<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="resources/javascript/papaparse.js"></script>

    <script src="resources/javascript/moment.js"></script>
    <script src="resources/javascript/models.js"></script>
    <script src="resources/javascript/filldata.js"></script>
    <script src="resources/javascript/css_applier.js"></script>
    <script src="resources/javascript/app.js"></script>

    <script src="resources/javascript/main.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="resources/css/main.css">
    <link rel="stylesheet" type="text/css" href="resources/css/flatbutton.css">
</head>
<body ng-app="Demonstration" ng-controller="mainControler">
    <div id="placeholder" style="border: none">
        <div id="inventory_general_information">
            <table id="inventory_customer_information">
                <caption>Customer Information</caption>
                <tr>
                    <th>Name</th>
                    <td><span contenteditable id="customer_name" ng-model="customer.name"></span> </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><span contenteditable id="customer_address" ng-model="customer.address"></span> </td>
                </tr>
                <tr>
                    <th>City</th>
                    <td onclick="focusChildren('customer_city')"><span contenteditable id="customer_city" ng-model="customer.city"></span> </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><span contenteditable id="customer_phone" ng-model="customer.phone"></span> </td>
                </tr>
            </table>

            <table id="inventory_misc_information">
                <caption>Misc Information</caption>
                <tr>
                    <th>Date</th>
                    <td><span contenteditable id="misc_date" ng-model="misc_information.date"/> </td>
                </tr>
                <tr>
                    <th>Order No</th>
                    <td><span contenteditable id="misc_order_no" ng-model="misc_information.orderno"></span> </td>
                </tr>
                <tr>
                    <th>Rep</th>
                    <td><span contenteditable id="misc_rep" ng-model="misc_information.rep1"></span> </td>
                </tr>
            </table>
        </div>
        <br/>
        <table id="inventory">
            <caption>Inventory</caption>
            <thead>
                <tr>
                    <th style="width: 10%">ID</th>
                    <th style="width: 40%">Description</th>
                    <th style="width: 10%">Purchase price</th>
                    <th style="width: 10%">Profit</th>
                    <th style="width: 10%">Saleprice</th>
                    <th style="width: 10%">Quantity</th>
                    <th style="width: 10%">Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th style="background: white"><a class="add" ng-click="addEmptyProduct()">+</a></th>
                </tr>
                <tr>
                    <th colspan="6">Grand Total</th>
                    <th ng-bind="calculateInventory()"></th>
                </tr>
            </tfoot>
            <tr ng-repeat="productSale in productSales">
                <td><a class="cut" ng-click="removeProduct(productSale)">-</a>{{productSale.product.id}}</td>
                <td><span contenteditable id="productDescription_{{$index}}"  ng-model="productSale.product.name" ng-keyup="productInformationKeyUp(productSale,'name')" ></span> </td>
                <td>{{productSale.product.price}}</td>
                <td><span contenteditable type="text" ng-model="productSale.product.profit" style="border: none;width: 100%;" /></td>
                <td ng-bind="calculateSellPrice(productSale)">
                </td>
                <td><span id="productQuantity_{{$index }}" contenteditable ng-model="productSale.quantity"/></td>
                <td ng-bind="calculateItemTotal(productSale)"></td>
            </tr>
        </table>
        <table id="action_table">
            <tr>
                <td style="width: 33%"><input ng-click="showTemplate('printable_quotation')" id="print_quotation_btn" style="width: 100%" class="button button-inline button-large" type="submit" value="Quotation"/></td>
                <td style="width: 33%"><input ng-click="showTemplate('printable_packinglist')"  id="print_packinglist_btn" style="width: 100%" class="button button-inline button-large" type="submit" value="Packing Lists"/></td>
                <td style="width: 33%"><input ng-click="showTemplate('printable_invoice')"  id="print_invoice_btn" style="width: 100%" class="button button-inline button-large" type="submit" value="Invoice"/></td>
            </tr>
        </table>
        <div ng-if="templateFlag.printable_quotation" class="printable_element" id="printable_quotation" ng-include="'./quotation.html'"></div>
        <div ng-if="templateFlag.printable_packinglist" class="printable_element" id="printable_packinglist" ng-include="'./packinglist.html'"></div>
        <div ng-if="templateFlag.printable_invoice" class="printable_element" id="printable_invoice"></div>
    </div>
</body>
</html>